In [21]:
import pandas as pd #hfovtnrf
import numpy as np

In [22]:
data = pd.read_csv('train.csv')

In [23]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [24]:
columns_target = ['Survived'] #целевой столбец
columns_train = ['Pclass', 'Sex', 'Age', 'Fare'] #от чего зависит выживаемость

In [25]:
X = data[columns_train]
Y = data[columns_target]

In [26]:
X['Sex'].isnull().sum() #пустые строки проверка

0

In [27]:
X['Pclass'].isnull().sum()

0

In [28]:
X['Fare'].isnull().sum()

0

In [29]:
X['Age'].isnull().sum()

177

In [30]:
X['Age'] = X['Age'].fillna(X['Age'].mean()) #автозаполнение средними значениями

c:\users\serez\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
X['Age'].isnull().sum()

0

In [32]:
d = {'male':0, 'female':1} #перевод человеков в нули и единицы ._.

In [33]:
X['Sex'] = X['Sex'].apply(lambda x:d[x]) #перевод человеков в нули и единицы ._.

c:\users\serez\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
X['Sex'].head()

0    0
1    1
2    1
3    1
4    0
Name: Sex, dtype: int64

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.33, random_state=42) #разделение на учебную и тестовую выборку, сайз в процентах

In [36]:
from sklearn import svm

In [37]:
predmodel = svm.LinearSVC()

In [38]:
predmodel.fit(X_train, Y_train) #обучение

c:\users\serez\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\serez\appdata\local\programs\python\python37\lib\site-packages\sklearn\svm\_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

LinearSVC()

In [39]:
predmodel.predict(X_test[0:10]) #че получилось?

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 1], dtype=int64)

In [40]:
predmodel.score(X_test, Y_test) #проверяем сколько процентов вжижило

0.6305084745762712